
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Scope+One&display=swap');
.App{
    min-height:100vh ;
    display: flex;
    background-image: url('./image/4.jpg');
    background-size: cover;
    background-position: center;
    color:white;
    background-color: #910fdd;
}
